<!doctype html>
<html ng-app="psApp">
  <head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.5/angular.min.js"></script>
    <script src="sls.js"></script>
    <link rel="stylesheet" href="default.css">
  </head>
  <body>

    <div ng-controller="sls">
        Tools:
        <select
            ng-options="t for t in tools"
            ng-change="update_filter()"
            ng-model="tool"></select>
        Communities:
        <select
            ng-options="c for c in communities"
            ng-change="update_filter()"
            ng-model="community"></select>
        <table>
            <th colspan="3">Measurement Points</th>
            <tr ng-repeat="mp in mplist" ng-show="mp.show">
                <td>{{ mp.hostname }}</td>
                <td>{{ mp.name }}</td>
                <td>{{ mp.communities }}</td>
                <td>{{ mp.tools }}</td>
            </tr>
        </table>
    </div>
  </body>
</html>
